venv/
*.log
*.pot
*.pyc
__pycache__/
*.sqlite3
*.env
.pytest_cache/
.venv
.ruff-cache/
*.egg-info/
trocalivro/library/__pycache__/
trocalivro/library/migrations/
trocalivro/library/static/images/
trocalivro/db.sqlite3
.env
.coverage
htmlcov/
coverage.xml