@import url(https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap);

header {
    font-family: 'Public Sans', serif;
    width: 100%;
    height: 12%;
    background-color: #e9e5cd;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    position: fixed;
    z-index: 1;
    align-items: center;
}

.logo-container img{
    max-width: 70%;
}

.search-container {
    position: relative;
}

.search-field {
    width: 250px;
    height: 40px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-style: italic;
    color: #808080;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-btns {
    display: flex;
    justify-content: space-around;
}

.primary-btn,
.secondary-btn {
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 100%;
    color: #283044;
    font-weight: 400;
    text-align: center;
    border: none;
  }

.primary-btn:hover,
.secondary-btn:hover {
    background-color: #FFFFFF;
    color:#283044;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.primary-btn a {
    text-decoration: none;
    color: #283044;
}

/* .sidebar-nav li a:hover {
    text-decoration: underline;
} */

.search-box {
    display: inline-flex;
}

.search-input {
    width: 500px;
    padding: 3px;
}

/* .container-fluid {
    float: left;
} */

.search-button {
    padding: 0;
    margin: 0;
    width: 60px;
    margin-left: 3px;
}

/* .topbar-button {
    padding: 20px;
} */

.login-btn {
    width: 100px;
    height: 40px;
    background: #283044;
    border-radius: 30px;
    color:#FFFFFF;
    font-weight: 600;
    text-align: center;
    border: none;
}

.login-btn a {
    text-decoration: none;
}

.login-btn a:visited{
    color: inherit;
}

.login-btn:hover {
    background-color: #FFFFFF;
    color: #283044;
    border: solid 1px;
    border-color: #FFFFFF;
    cursor: pointer;
    transition: ease-in 0.2s;
}

