@import url(https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(login_style.css);
@import url(button_style.css);
@import url(input_box_style.css);
@import url(header_style.css);
@import url(signup_style.css);
/* @import url(footer_style.css); */
@import url(sidebar_style.css);
@import url(profile_style.css);
@import url(index_style.css);
@import url(base_style.css);
@import url(book_details_style.css);
@import url(book_grid_style.css);
